<div ng-cloak>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Rest Client</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="javascript:void(0)" class="no-padding"><img src="assets/user-finder.png" class="user-logo img-responsive" /></a>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a class="dropdown-toggle" class="sec-nav" data-toggle="dropdown" href="javascript:void(0)">File
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)" ng-repeat="option in vm.fileOptions">{{option.title}}</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" class="sec-nav" data-toggle="dropdown" href="javascript:void(0)">History
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-if="vm.history.length == 0"  ng-click="makeRequest(his.protocol, his.url, his.method)">
            <center>
              No history...
            </center>
          </li>
          <li><a href="javascript:void(0)" ng-repeat="data in vm.history">{{data}}</a></li>
        </ul>
      </li>
    </ul> 
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="dropdown-toggle" class="sec-nav" data-toggle="dropdown" href="javascript:void(0)">Themes
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="javascript:void(0)" ng-repeat="option in vm.themes">
              <h6>
                <pre class="color-box navbar-{{option.theme}}"></pre>{{option.title}}
              </h6>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

<div class="">
    <div layout="row">
     <div>
        <h2 class="md-toolbar-tools">Rest Client</h2>
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              File
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('share', $event)">
                  Share...
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-menu>
                  <md-button>New</md-button>
                </md-menu>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('Print', $event)">
                  Print
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              History
            </button>
            <md-menu-content>
               <md-menu-item class="md-indent" ng-if="history.length == 0">
                 <md-button ng-click="ctrl.sampleAction('undo', $event)">
                   No history to show
                 </md-button>
               </md-menu-item>
                                                   <md-menu-divider></md-menu-divider>
              <md-menu-item class="md-indent" ng-if='history.length > 0' ng-repeat="his in history">
                <md-button ng-click="user.url = his.url;user.method=his.method">
                  <md-button md-primary ng-click="makeRequest(his.protocol, his.url, his.method)">OPEN</md-button>
                  <span style="">{{his.url}}</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>
  <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
     <div layout-gt-sm="row">
       <md-input-container class="md-block" flex='10'>
           <label>Protocol</label>
           <md-select ng-model="user.protocol">
             <md-option value="http" selected>HTTP</md-option>
             <md-option value="https">HTTPS</md-option>
           </md-select>
         </md-input-container>
       <md-input-container class="md-block"  flex='70'>
              <label>Url</label>
              <input ng-model="user.url">
      </md-input-container>
       <md-input-container class="md-block"  flex='10' layout-align="center center" layout-wrap>
         <md-button class="md-raised md-primary test-tooltip" ng-click="makeRequest( user.protocol, user.url, user.method)">
           <md-tooltip md-direction="top">Send Request</md-tooltip>
           <span class="glyphicon glyphicon-send"></span>&nbsp;send</md-button>
      </md-input-container>
                  <md-input-container class="md-block"  flex='10' layout-align="center center" layout-wrap>
         <md-button class="md-raised md-accent test-tooltip" ng-click="abort()"><span class="glyphicon glyphicon-remove-sign"></span>&nbsp;stop</md-button>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-radio-group ng-model="user.method" ng-init="user.method = 'get'">
        <md-radio-button value="get" class="md-primary">GET</md-radio-button>
        <md-radio-button value="post" class="md-primary"> POST </md-radio-button>
        <md-radio-button value="put" class="md-primary">PUT</md-radio-button>
      </md-radio-group>
      <md-input-container ng-if="user.method == 'post'" class="md-block"  flex='50'>
             <label>Post Data</label>
             <input type="textarea" ng-model="postData">
     </md-input-container>
    </div>
   </md-content>
    <md-progress-linear md-mode="indeterminate" ng-if="showProgress"></md-progress-linear>
    <div class="col-md-12" ng-if="showResultBanner">
      <table>
        <tr>
          <td style="float:right"><h5>Method</h5></td>
          <td>&nbsp;</td>
          <td><h5><strong>{{config.method}}</strong></h5></td>
        </tr>
        <tr>
          <td style="float:right"><h5>URL</h5></td>
          <td>&nbsp;</td>
          <td><h5><strong>{{config.url}}</strong></h5></td>
        </tr>
      </table>
  </div>
  <div class="showResultBanner col-md-12" ng-if="showResultBanner">
  <json-formatter json="resultData"></json-formatter>
</div>
    </div>