<div ng-cloak>
  <nav class="navbar navbar-{{vm.theme}}">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Rest Client</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="javascript:void(0)" class="no-padding"><img src="assets/user-finder.png" class="user-logo img-responsive" /></a>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a class="dropdown-toggle" class="sec-nav" data-toggle="dropdown" href="javascript:void(0)">File
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)" ng-repeat="option in vm.fileOptions">{{option.title}}</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" class="sec-nav" data-toggle="dropdown" href="javascript:void(0)">History
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-if="vm.history.length == 0"  ng-click="makeRequest(his.protocol, his.url, his.method)">
            <center>
              No history...
            </center>
          </li>
          <li><a href="javascript:void(0)" ng-repeat="data in vm.history">{{data}}</a></li>
        </ul>
      </li>
    </ul> 
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="dropdown-toggle" class="sec-nav" data-toggle="dropdown" href="javascript:void(0)">Themes
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="javascript:void(0)" ng-click="vm.theme = option.theme"
             ng-repeat="option in vm.themes">
              <h6>
                <pre class="color-box navbar-{{option.theme}}"></pre>{{option.title}}
              </h6>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-2">
            <select ng-model="vm.user.protocol" class="form-control"
             ng-init="vm.user.protocol= 'HTTP'">
              <option ng-value="HTTP" value="http">Http</option>
              <option ng-value="HTTPS" value="https">Https</option>
            </select>
          </div>
          <div class="col-md-10">
            <input type="text" class="form-control" ng-model="vm.user.url"/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <label class="radio-inline">
              <input type="radio" name="optradio">Get
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Post
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Put
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <json-formatter json="vm.resultJson"></json-formatter>
      </div>
    </div>
  </div>

       <md-input-container class="md-block"  flex='10' layout-align="center center" layout-wrap>
         <md-button class="md-raised md-primary test-tooltip" ng-click="makeRequest( user.protocol, user.url, user.method)">
           <md-tooltip md-direction="top">Send Request</md-tooltip>
           <span class="glyphicon glyphicon-send"></span>&nbsp;send</md-button>
      </md-input-container>
                  <md-input-container class="md-block"  flex='10' layout-align="center center" layout-wrap>
         <md-button class="md-raised md-accent test-tooltip" ng-click="abort()"><span class="glyphicon glyphicon-remove-sign"></span>&nbsp;stop</md-button>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-radio-group ng-model="user.method" ng-init="user.method = 'get'">
        <md-radio-button value="get" class="md-primary">GET</md-radio-button>
        <md-radio-button value="post" class="md-primary"> POST </md-radio-button>
        <md-radio-button value="put" class="md-primary">PUT</md-radio-button>
      </md-radio-group>
      <md-input-container ng-if="user.method == 'post'" class="md-block"  flex='50'>
             <label>Post Data</label>
             <input type="textarea" ng-model="postData">
     </md-input-container>
    </div>
   </md-content>