<div ng-cloak>
  <nav class="navbar navbar-{{vm.theme}}">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Rest Client</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="javascript:void(0)" class="no-padding"><img src="assets/user-finder.png" class="user-logo img-responsive" /></a>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a class="dropdown-toggle" class="sec-nav" data-toggle="dropdown" href="javascript:void(0)">File
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)" ng-repeat="option in vm.fileOptions" ng-click="vm[option.click]()">{{option.title}}</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" class="sec-nav" data-toggle="dropdown" href="javascript:void(0)">History
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-if="vm.history.length == 0"  ng-click="makeRequest(his.protocol, his.url, his.method)">
            <center>
              No history...
            </center>
          </li>
          <li><a href="javascript:void(0)" ng-repeat="data in vm.history">{{data}}</a></li>
        </ul>
      </li>
    </ul> 
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="dropdown-toggle" class="sec-nav" data-toggle="dropdown" href="javascript:void(0)">Themes
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="javascript:void(0)" ng-click="vm.theme = option.theme"
             ng-repeat="option in vm.themes">
              <h6>
                <pre class="color-box navbar-{{option.theme}}"></pre>{{option.title}}
              </h6>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-2">
            <select ng-model="vm.user.protocol" class="form-control"
             ng-init="vm.user.protocol= 'http'">
              <option value="http">Http</option>
              <option value="https">Https</option>
            </select>
          </div>
          <div class="col-md-8  pad-left">
            <input type="text" class="form-control" ng-model="vm.user.url"/>
          </div>
          <div class="col-md-2 pad-left">
            <button ng-click="vm.showProgress ? vm.abort() :vm.makeRequest( vm.user.protocol, vm.user.url, vm.user.method)" class="btn" ng-class="vm.showProgress ? 'btn-danger' : 'btn-primary'">
              <i class="fa" ng-class="vm.showProgress ? 'fa-close' : 'fa-bolt'"></i>
              &nbsp;{{vm.showProgress ? 'Stop' : 'Send'}}
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8" ng-init="vm.user.method = 'GET'">
            <label class="radio-inline">
              <input type="radio" ng-model="vm.user.method" value="GET" name="optradio">Get
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="vm.user.method" value="POST" name="optradio">Post
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="vm.user.method" value="PUT" name="optradio">Put
            </label>
            <label class="radio-inline">
              <input type="radio" ng-model="vm.user.method" value="DELETE" name="optradio">Delete
            </label>
          </div>
          <div class="col-md-2 col-md-offset-2 pad-left">
            <button class="btn btn-info" ng-click="vm.headers.push({index:vm.headers.length})">Add Header</button>
          </div>
        </div>
        <div class="row" ng-if="['POST','PUT'].includes(vm.user.method)">
          <div class="col-md-12">
            <textarea class="form-control" placeholder="" ng-model="vm.postData" rows="10" style="resize:none"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div ng-repeat="header in vm.headers">
              <div class="col-md-3">
                <input type="text" class="form-control" ng-model="vm['headerKey'+$index]" placeholder="Header Name" />
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" ng-model="vm['headerValue'+$index]" placeholder="Header Value" />
              </div>
              <div class="col-md-1">
                <span class="glyphicon glyphicon-remove" ng-click="vm.headers.splice(1,$index)"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5" ng-if="vm.resultData">
        <pre class="viewer">
          <json-formatter json="vm.resultData"></json-formatter>
        </pre>
      </div>
    </div>
  </div>
</div>